<header>
  <div id="menu">
    <mat-toolbar class="colorSelected">
      <h1>
        <img
          src="https://compragamer.net/assets/img/logo-fix.png"
          alt="logo-compra-gamer"
        />
      </h1>
      <span class="example-spacer"></span>
  
      <button mat-button routerLink="registro" *ngIf="!getflag()">Registro</button>
      <button mat-button routerLink="login" *ngIf="!getflag()">Iniciar sesion</button>  
      <button mat-button routerLink="login" *ngIf="getflag()" (click)="cerrarSesion()">Cerrar Sesion</button>
      <button mat-button routerLink="productos" *ngIf="getflag()">Productos</button>
      <button mat-button *ngIf="getflag()">
        <div class="demo-section">
          <mat-icon [matBadge]="getCarritoCompras()" matBadgeColor="warn">shopping_cart</mat-icon>
            <span class="cdk-visually-hidden">
            </span>
        </div>
      </button>
    </mat-toolbar>
  </div>
  
  <div id="menuResponsive">
    <mat-toolbar class="colorSelected">
      <h1>
        <img
          src="https://compragamer.net/assets/img/logo-fix.png"
          alt="logo-compra-gamer"
        />
      </h1>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <div class="demo-section">
            <mat-icon [matBadge]="getCarritoCompras()" matBadgeColor="warn" *ngIf="getflag()">shopping_cart</mat-icon>
              <span class="cdk-visually-hidden">
              </span>
          </div>
        </button>
        <button mat-menu-item routerLink="productos" *ngIf="getflag()">Productos</button>

        <button mat-menu-item routerLink="registro" *ngIf="!getflag()">Registro</button>
        <button mat-menu-item routerLink="login" *ngIf="!getflag()">Iniciar sesion</button>  
        <button mat-menu-item routerLink="login" *ngIf="getflag()" (click)="cerrarSesion()">Cerrar Sesion</button>
      </mat-menu>
    </mat-toolbar>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="colorSelected">
  <p>&copy; Nicolas Sartori - 2023</p>
</footer>