.example-spacer {
  flex: 1 1 auto;
}
.demo-section + .demo-section {
  margin-top: 16px;
}
header{
  position: fixed;
  width: 100%;
  z-index: 1;
}
main{
  padding: 70px 1rem;
  z-index: 0;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
  #menu{
      display: none;
  } 
}
@media only screen and (min-width: 769px){
  #menuResponsive{
      display: none;
  }  

} 
h1{
  padding-top: 1.5rem;
}
h1 img{
  width: 60%;
}

footer{
padding: 1rem;
text-align: center;
position: fixed;
width: 100%;
bottom: 0;
}

.colorSelected{
color: white;
background-color: #1B4663;
}